# Mentoring User Service Config

APPLICATION_PORT = 3000                                                              // Port on which service runs

APPLICATION_ENV = development                                                        // Service environment

MONGODB_URL = mongodb://localhost:27017/elevate-user                                 // Database connectivity url

SALT_ROUNDS = 10                                                                     // Number of rounds for encryption

ACCESS_TOKEN_SECRET = 'bsj82AHBxahusub12yexlashsbxAXADHBlaj'                         // Token secret to generate access token

REFRESH_TOKEN_SECRET = 'baXDUDQ7YEXKH182ELXKJHJKLhasjxlADahgdsd'                     // Token secret to generate refresh token

# KAFKA Configurations

KAFKA_URL = localhost:9092                                                           // Kafka hosted server url
KAFKA_GROUP_ID = userservice                                                         // Kafka group to which consumer belongs
KAFKA_TOPIC =                                                                        // Kafka topic to consume data from
NOTIFICATION_KAFKA_TOPIC = notificationtopic                                         // Kafka topic to push notification data

# CLOUD STOARGE TYPE

CLOUD_STORAGE = 'GCP/AWS/AZURE'                                                      // Any one of three features available for cloud storage

# GCP Credentials

GCP_PATH = 'gcp.json'                                                                // Gcp json config file path
DEFAULT_GCP_BUCKET_NAME = 'gcp-bucket-storage-name'                                  // Gcp bucket name which stores files
GCP_PROJECT_ID = 'project-id'                                                        // Gcp project id

# AWS Credentials

AWS_ACCESS_KEY_ID = 'ashdaqwgeiqwye739182xo1y371xo1237o'                             // Aws access key id
AWS_SECRET_ACCESS_KEY = '189273bxoyeb1yxliuxb173t71x17x173o1'                        // Aws secret access key
AWS_BUCKET_REGION = 'ap-south-1'                                                     // Aws region where bucket will be located
AWS_BUCKET_ENDPOINT = 's3.ap-south-1.amazonaws.com'                                  // Aws end point
DEFAULT_AWS_BUCKET_NAME = 'aws-bucket-storage-name'                                  // Aws bucket name which stores files

# AZURE Credentials

AZURE_ACCOUNT_NAME = 'account-name'                                                  // Azure storage account name
AZURE_ACCOUNT_KEY = 'xbad1y381xuhebbi27234724x1yphqbe848hkqje1u3=='                  // Azure storage account key
DEFAULT_AZURE_CONTAINER_NAME = 'azure-container-storage-name'                        // Azure storage container which stores files
INTERNAL_ACCESS_TOKEN = 'baXDUDQ7YEXKH182ELXKJHJKLhasjxlADahgdsd'